@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: block;
}

/* .nav-item:hover {
  border-top: 2px solid white;
  border-top-width: 2px;
} */
